.main {
    width: 100%;
    height: 80vh;
    background-image: url("/Project/img/bg4.jpg");
    background-size: cover;
    background-position: center;

}

.bglight {
    width: 100%;
    backdrop-filter: blur(5px);
    background: #dfdddd81;
}

.logo-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.parent {
    height: 80vh;


}

.div .had {
    color: #111111d1;
}

.div .cont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 107, 107);
}

.pic {
    height: 90vh;
    background: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppic {
    background: url(/Project/img/bg4.jpg);
    background-size: cover;
    height: 80%;
    width: 60%;
}
footer {
    background: #0a0a0aec;

}